.nav {
  
  display: flex;
  width: 768px;
  margin-left: 1200px;
  font-size: 1.25rem;
  text-decoration: none;
  
  
  
  
  @media screen and (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
    font-size: 1rem;
  cursor: pointer;
  white-space: pre;
  text-decoration: none;
  color: gray;
  padding-bottom: 0.25rem;
  margin-right: 40px;
  }
    
  }
  
  nav:hover {
    color:#edc13b
  }
  
  nav.active {
    font-weight: 600;
    color: #edc13b;
  }